<div class="container">
  <table style = "margin:30px;">
    <tbody class= "border-bottom border-info">
      <tr>
        <td>
          <h2>
            タイトル：<%= @movie.title %>
          </h2>
        </td>
      </tr>
      <tr>
        <td>
          <h5>
            上映日時<%= @movie.day %>
            製作国<%= @movie.country %>
            上映時間<%= @movie.time %>
            <% @movie.tags.each do |tag| %>
              <%= tag.name %>
            <% end %>
          </h5>
        </td>
      </tr>
      <td>
        <h5>
          あらすじ：<%= @movie.body %>
        </h5>
      </td>
    </tbody>
  </table>
  <h5 style="margin-left:29px;">
    <div>
      <p>レビュー件数：<%= @movie.movie_comments.count %></p>
      <div>
        <% @movie.movie_comments.each do |movie_comment| %>
          <%= movie_comment.customer.family_name %>｜
          ☆<%= movie_comment.star %>｜
          <%= movie_comment.created_at.strftime('%Y/%m/%d') %>｜<br>
          レビュー：<%= movie_comment.comment %><br>
          <br>
        <% end %>
      </div>
    </div>
    <div>
      <%= form_with model: [@movie, @movie_comment] do |f| %>
        <div class="field" id="star">
          <%= f.label :star %>
          <%= f.hidden_field :star, id: :review_star %>
        </div>
        <%= f.text_area :comment, rows: '5', placeholder: "コメントをここに" %>
        <%= f.submit "送信する" %>
      <% end %>

      <script>
      $('#star').raty({
        size     : 36,
        starOff:  '<%= asset_path('star-off.png') %>',
        starOn : '<%= asset_path('star-on.png') %>',
        scoreName: 'movie_comment[star]'
      });
      </script>
    </div>

  </h5>
</div>